DATABASE_URL=postgresql://postgresadmin:LvI9qKDfLsvzRcIJl7Wrehl3JX5nDUNH@dpg-cs16eh8gph6c73ah6qk0-a.oregon-postgres.render.com/postgresdatabase_duum
OUTBOUND_IP_1=35.160.120.126
OUTBOUND_IP_2=44.233.151.27
OUTBOUND_IP_3=34.211.200.85
PORT=3001
POSTGRES_DATABASE=postgresdatabase_duum
POSTGRES_HOST=dpg-cs16eh8gph6c73ah6qk0-a
POSTGRES_PRISMA_URL=postgresql://postgresadmin:LvI9qKDfLsvzRcIJl7Wrehl3JX5nDUNH@dpg-cs16eh8gph6c73ah6qk0-a/postgresdatabase_duum?pgbouncer=true&connect_timeout=15&sslmode=require
POSTGRES_URL=postgresql://postgresadmin:LvI9qKDfLsvzRcIJl7Wrehl3JX5nDUNH@dpg-cs16eh8gph6c73ah6qk0-a/postgresdatabase_duum
POSTGRES_URL_NO_SSL=postgresql://postgresadmin:LvI9qKDfLsvzRcIJl7Wrehl3JX5nDUNH@dpg-cs16eh8gph6c73ah6qk0-a/postgresdatabase_duum
POSTGRES_URL_NON_POOLING=postgresql://postgresadmin:LvI9qKDfLsvzRcIJl7Wrehl3JX5nDUNH@dpg-cs16eh8gph6c73ah6qk0-a/postgresdatabase_duum
REACT_APP_STRIPE_PUBLIC_KEY=pk_live_51LYDF2KNzvIdt22asx8sU62bM2CQMeihBtrOedPLbCZ18OLUsUVLas7e87UhiIFGi0CCNGsC92BHbIay64jj5jgD00Zg7w7S1Q
SERVER_URL=https://royalgamescasino.onrender.com
STRIPE_SECRET_KEY=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
CORS_ORIGINS=https://royalgamescasino.onrender.com,/.blackbx.ai/,https://*.onrender.com
GITHUB_TOKEN=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